workflows/w2-approval-handler-v1-2025-11-28.json
{
  "name": "W2: Approval Handler - Hattie B's HITL",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-slack",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "webhookId": "approval-handler-webhook",
      "notes": "Triggers on any message in the approval channel. Bot messages filtered downstream."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "settings-demo-mode",
              "name": "DEMO_MODE",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "settings-slack-channel",
              "name": "SLACK_CHANNEL",
              "value": "#customer-service-approvals",
              "type": "string"
            },
            {
              "id": "settings-sheet-id",
              "name": "SHEET_ID",
              "value": "YOUR_GOOGLE_SHEET_ID",
              "type": "string"
            },
            {
              "id": "settings-reviewer",
              "name": "REVIEWER_NAME",
              "value": "Tyler",
              "type": "string"
            },
            {
              "id": "settings-business",
              "name": "BUSINESS_NAME",
              "value": "Hattie B's Hot Chicken",
              "type": "string"
            }
          ]
        }
      },
      "id": "settings-node",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "notes": "CONFIGURE THESE VALUES:\n- DEMO_MODE: true = logs only, false = sends email\n- SHEET_ID: Your Google Sheet ID\n- SLACK_CHANNEL: Approval channel name"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-bot-messages",
              "leftValue": "={{ $json.event.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-bots",
      "name": "Filter Bot Messages",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300],
      "notes": "Skip messages from bots (including our own posts)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/conversations.replies",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "channel",
              "value": "={{ $json.event.channel }}"
            },
            {
              "name": "ts",
              "value": "={{ $json.event.thread_ts || $json.event.ts }}"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-thread",
      "name": "Fetch Thread History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      },
      "notes": "Gets full thread context for the Intent Classifier"
    },
    {
      "parameters": {
        "jsCode": "// Extract execution_id from thread and format context\nconst messages = $input.first().json.messages || [];\nconst humanMessage = $('Slack Trigger').first().json.event.text;\n\n// Find the original HOLLER SITREP message to extract execution_id\nlet executionId = null;\nlet originalBriefing = null;\n\nfor (const msg of messages) {\n  if (msg.text && msg.text.includes('HOLLER SITREP')) {\n    originalBriefing = msg.text;\n    // Extract execution_id from the briefing\n    const idMatch = msg.text.match(/Execution ID:\\s*([a-zA-Z0-9-]+)/);\n    if (idMatch) {\n      executionId = idMatch[1];\n    }\n    break;\n  }\n}\n\n// Build conversation context for classifier\nconst conversationContext = messages\n  .filter(m => !m.bot_id) // Only human messages\n  .map(m => m.text)\n  .join('\\n');\n\nreturn {\n  execution_id: executionId,\n  human_message: humanMessage,\n  conversation_context: conversationContext,\n  original_briefing: originalBriefing,\n  thread_ts: $('Slack Trigger').first().json.event.thread_ts || $('Slack Trigger').first().json.event.ts,\n  channel: $('Slack Trigger').first().json.event.channel\n};"
      },
      "id": "extract-context",
      "name": "Extract Thread Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200],
      "notes": "Extracts execution_id and conversation context from thread"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze this message from a human reviewer who is approving email drafts.\n\nThe reviewer's message:\n\"{{ $json.human_message }}\"\n\nConversation context (if any previous messages):\n{{ $json.conversation_context }}\n\n---\n\nDetermine their intent. They may speak casually like they're talking to a colleague.\n\nExamples of SHIP intent:\n- \"ship it\"\n- \"looks good, send it\"\n- \"approved\"\n- \"yep, that works\"\n- \"go ahead\"\n- \"send\"\n- \"fire away\"\n- \"let it fly\"\n\nExamples of REVISE intent:\n- \"needs work\"\n- \"change the tone\"\n- \"too formal\"\n- \"make it friendlier\"\n- \"the second paragraph is weak\"\n- \"try again\"\n- \"not quite right\"\n- Any specific feedback about the draft\n\nExamples of CONFIRM intent:\n- \"thanks\"\n- \"got it\"\n- \"confirmed\"\n- \"perfect\"\n- \"acknowledged\"\n- Just reacting to confirmation of sent email\n\nOutput ONLY one word: ship, revise, or confirm\n\nIntent:",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an intent classifier for a customer service approval workflow. Your job is to understand what the human reviewer wants to do with an email draft.\n\nYou must output exactly ONE word:\n- ship - if they want to approve and send the email\n- revise - if they want changes made to the draft\n- confirm - if they are acknowledging a completed action\n\nThe reviewer speaks casually, like texting a coworker. Interpret their natural language into these three categories.\n\nIMPORTANT: Only output the intent word. No punctuation, no explanation."
        }
      },
      "id": "intent-classifier",
      "name": "Intent Classifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1100, 200],
      "notes": "Conversational intent classifier - understands natural language approval commands"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0
        }
      },
      "id": "openai-intent",
      "name": "OpenAI Intent Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1100, 420],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "notes": "GPT-4o with temp=0 for deterministic classification"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "auto-fixing-parser",
      "name": "Auto-Fixing Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [1300, 420]
    },
    {
      "parameters": {
        "jsCode": "// Normalize the classifier output\nconst rawOutput = $input.first().json.output || $input.first().json.text || '';\nconst normalized = rawOutput.toLowerCase().trim();\n\nlet intent;\nif (normalized.includes('ship')) {\n  intent = 'ship';\n} else if (normalized.includes('revise')) {\n  intent = 'revise';\n} else if (normalized.includes('confirm')) {\n  intent = 'confirm';\n} else {\n  // Default to confirm for unclear messages (safest)\n  intent = 'confirm';\n}\n\n// Pass through all context\nreturn {\n  intent: intent,\n  execution_id: $('Extract Thread Context').first().json.execution_id,\n  human_message: $('Extract Thread Context').first().json.human_message,\n  thread_ts: $('Extract Thread Context').first().json.thread_ts,\n  channel: $('Extract Thread Context').first().json.channel,\n  DEMO_MODE: $('Settings').first().json.DEMO_MODE,\n  SHEET_ID: $('Settings').first().json.SHEET_ID,\n  REVIEWER_NAME: $('Settings').first().json.REVIEWER_NAME\n};"
      },
      "id": "normalize-intent",
      "name": "Normalize Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200],
      "notes": "Ensures clean intent value and passes context"
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "ship",
              "outputKey": "ship"
            },
            {
              "value": "revise",
              "outputKey": "revise"
            },
            {
              "value": "confirm",
              "outputKey": "confirm"
            }
          ]
        },
        "options": {},
        "dataType": "string",
        "value": "={{ $json.intent }}"
      },
      "id": "route-intent",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1540, 200],
      "notes": "Routes to SHIP, REVISE, or CONFIRM path"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Drafts",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "execution_id",
              "lookupValue": "={{ $json.execution_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "retrieve-draft-ship",
      "name": "Retrieve Draft (SHIP)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Gets the draft email data for sending"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-demo-mode",
              "leftValue": "={{ $('Settings').first().json.DEMO_MODE }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "demo-mode-check",
      "name": "Demo Mode?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2020, 0],
      "notes": "Only send real email if DEMO_MODE=false"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Retrieve Draft (SHIP)').first().json.customer_email }}",
        "subject": "={{ $('Retrieve Draft (SHIP)').first().json.draft_subject }}",
        "emailType": "text",
        "message": "={{ $('Retrieve Draft (SHIP)').first().json.draft_body }}",
        "options": {
          "threadId": "={{ $('Retrieve Draft (SHIP)').first().json.gmail_thread_id }}"
        }
      },
      "id": "gmail-send",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2240, -100],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Sends email with threadId for proper threading"
    },
    {
      "parameters": {
        "jsCode": "// Demo mode - log what would have been sent\nconst draftData = $('Retrieve Draft (SHIP)').first().json;\n\nconsole.log('=== DEMO MODE: Email would be sent ===');\nconsole.log('To:', draftData.customer_email);\nconsole.log('Subject:', draftData.draft_subject);\nconsole.log('Thread ID:', draftData.gmail_thread_id);\nconsole.log('Body:', draftData.draft_body);\n\nreturn {\n  demo_mode: true,\n  action: 'email_send_simulated',\n  to: draftData.customer_email,\n  subject: draftData.draft_subject,\n  body_preview: draftData.draft_body?.substring(0, 200) + '...'\n};"
      },
      "id": "demo-log-send",
      "name": "Demo Log (Would Send)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2240, 100],
      "notes": "Logs what would be sent in DEMO_MODE"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json.SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Drafts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "sent",
            "sent_at": "={{ $now.toISO() }}",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["execution_id"],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-sent",
      "name": "Update Status (Sent)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2460, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Updates status to 'sent' in Sheets"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Normalize Intent').first().json.channel }}",
          "mode": "id"
        },
        "text": "={{ $('Settings').first().json.DEMO_MODE ? '📧 [DEMO] Email logged as sent!' : '📧 Email sent!' }} ✅\n\nCustomer: {{ $('Retrieve Draft (SHIP)').first().json.customer_email }}\nSubject: \"{{ $('Retrieve Draft (SHIP)').first().json.draft_subject }}\"\n\n{{ $('Settings').first().json.DEMO_MODE ? '(DEMO_MODE is ON - no actual email was sent)' : 'The email is now in their inbox!' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": "={{ $('Normalize Intent').first().json.thread_ts }}"
        }
      },
      "id": "confirm-ship",
      "name": "Confirm (SHIP)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2680, 0],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      },
      "notes": "Confirms to reviewer that email was sent"
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Drafts",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "execution_id",
              "lookupValue": "={{ $json.execution_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "retrieve-draft-revise",
      "name": "Retrieve Draft (REVISE)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Gets current draft data for revision"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ /* REPLACE WITH REVISION SUB-WORKFLOW ID */ 'sub-revision-processor' }}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "execution_id": "={{ $('Normalize Intent').first().json.execution_id }}",
            "human_feedback": "={{ $('Normalize Intent').first().json.human_message }}",
            "original_email": {
              "subject": "={{ $('Retrieve Draft (REVISE)').first().json.original_subject }}",
              "body": "={{ $('Retrieve Draft (REVISE)').first().json.original_message }}",
              "sender": "={{ $('Retrieve Draft (REVISE)').first().json.customer_email }}"
            },
            "previous_draft": "={{ $('Retrieve Draft (REVISE)').first().json.draft_body }}",
            "cinnamon_analysis": "={{ $('Retrieve Draft (REVISE)').first().json.sentiment }}",
            "hatch_analysis": "={{ $('Retrieve Draft (REVISE)').first().json.hatch_analysis }}",
            "revision_count": "={{ Number($('Retrieve Draft (REVISE)').first().json.revision_count || 0) + 1 }}"
          }
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-revision",
      "name": "Call Revision Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2020, 200],
      "notes": "Calls sub-revision-processor with human feedback"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json.SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Drafts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "draft_body": "={{ $json.revised_draft.body }}",
            "draft_subject": "={{ $json.revised_draft.subject }}",
            "qa_score": "={{ $json.bishop_score }}",
            "qa_status": "={{ $json.bishop_status }}",
            "revision_count": "={{ $json.revision_count }}",
            "status": "pending",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["execution_id"],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-revised-draft",
      "name": "Update Revised Draft",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2240, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Stores revised draft back to Sheets"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Normalize Intent').first().json.channel }}",
          "mode": "id"
        },
        "text": "🔄 **REVISED DRAFT** (v{{ $json.revision_count }})\n\nBased on your feedback: \"{{ $('Normalize Intent').first().json.human_message }}\"\n\n---\n\n**Subject:** {{ $json.revised_draft.subject }}\n\n{{ $json.revised_draft.body }}\n\n---\n\n👔 Bishop scored this: {{ $json.bishop_score }}/100 ({{ $json.bishop_status }})\n\n_Reply with \"ship it\" to send, or give more feedback to revise again._",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": "={{ $('Normalize Intent').first().json.thread_ts }}"
        }
      },
      "id": "post-revised-draft",
      "name": "Post Revised Draft",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2460, 200],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      },
      "notes": "Posts revised draft for another review"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Settings').first().json.SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Email Drafts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "confirmed",
            "updated_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["execution_id"],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-status-confirmed",
      "name": "Update Status (Confirmed)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1800, 400],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      },
      "notes": "Updates status to 'confirmed' (acknowledgment)"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channel }}",
          "mode": "id"
        },
        "text": "👍 Noted! This one's wrapped up.",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": "={{ $json.thread_ts }}"
        }
      },
      "id": "confirm-acknowledge",
      "name": "Acknowledge (CONFIRM)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2020, 400],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack API"
        }
      },
      "notes": "Simple acknowledgment message"
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Filter Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Bot Messages": {
      "main": [
        [
          {
            "node": "Fetch Thread History",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Fetch Thread History": {
      "main": [
        [
          {
            "node": "Extract Thread Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Thread Context": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Normalize Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Intent Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Fixing Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intent": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Retrieve Draft (SHIP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retrieve Draft (REVISE)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Status (Confirmed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Draft (SHIP)": {
      "main": [
        [
          {
            "node": "Demo Mode?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Mode?": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Demo Log (Would Send)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "main": [
        [
          {
            "node": "Update Status (Sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Demo Log (Would Send)": {
      "main": [
        [
          {
            "node": "Update Status (Sent)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status (Sent)": {
      "main": [
        [
          {
            "node": "Confirm (SHIP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Draft (REVISE)": {
      "main": [
        [
          {
            "node": "Call Revision Sub-Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Revision Sub-Workflow": {
      "main": [
        [
          {
            "node": "Update Revised Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Revised Draft": {
      "main": [
        [
          {
            "node": "Post Revised Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status (Confirmed)": {
      "main": [
        [
          {
            "node": "Acknowledge (CONFIRM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "w2-approval-handler-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "hattie-b-demo"
  },
  "pinData": {},
  "tags": [
    {
      "name": "hattie-b",
      "createdAt": "2025-11-28",
      "updatedAt": "2025-11-28"
    },
    {
      "name": "hitl",
      "createdAt": "2025-11-28",
      "updatedAt": "2025-11-28"
    },
    {
      "name": "approval",
      "createdAt": "2025-11-28",
      "updatedAt": "2025-11-28"
    }
  ]
}
